.horariosConteiner {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    background-color: #6a6c6d;
    width: 100%;
    border-radius: 15px
}

.center-text {
    text-align: center;
    color: #fefefe;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 10px
  }

  .tabla{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    padding: 10px; /* Para el padding de las celdas */
    border-radius: 15px; /* Si deseas bordes redondeados */
  }

  .tabla th{
    color:  1px solid #000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background-color: #fefefe;
    border: 1px solid #000;
    border-radius: 3px;
  }
  .tabla td{
    color:  1px solid #1b1b1b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: #fefefe;
    border: 1px solid #000;
    border-radius: 3px;
  }



  