.button-logOut{
    width:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1b1b1b;
    font-size: 15px;
    background-color:#fefefe ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 3vh;
    margin-left: 3vh;
    margin-bottom: 3vh;
}
.button-logOut:hover {
    background-color: #b3b3b3; /* Color de hover */
  }