.button-user-panel{
    margin-bottom: 3vh;
    width:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1b1b1b;
    font-size: 13px;
    background-color:#fefefe ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 3vh;
    margin-left: 3vh;
}
.button-user-panel:hover {
    background-color: #b3b3b3; /* Color de hover */
  }
  /* Contenedor del botón */
.user-panel {
    position: relative;
    display: inline-block;
  }
  
  .user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size:20px;
    margin-top: 3vh;
    margin-right: 2vh;
  }

  .dropdown-menu {
    position: absolute;
    top: 7vh; 
    right: 3vh;
    width: 160px;
    background: #fefefe;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-menu li:hover {
    background: #f0f0f0;
    border-radius: 10px;
  }
  .op-li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1b1b1b;
    font-size: 15px;
  }
  