.conteiner-opciones-h{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
}
.opciones-tabla-h{
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}
.loading-container-op{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-state{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 16px; 
    padding: 6px 10px; 
    border-radius: 8px; 
    background-color: #f8f9fa;
    color: #333; 
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}