.modal-add-s{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 30%; 
    height: auto; 
    max-height: 80vh; 
    background-color: #6a6c6d; 
    border-radius: 10px; 
    overflow-y: auto; 
}
.h1-add{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 0px;
}
.button-edit-a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fefefe;
    font-size: 22px;
    background-color: #6a6c6d ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 3vh;
    margin-top: 3vh;
    padding: 6px 9px;
}
.button-edit-a:hover{
    background-color: #949393;
}
.select-freq{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px; 
    padding: 6px 10px; 
    border-radius: 8px; 
    background-color: #d6d6d6;
    color: #333; 
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}
option:disabled {
    font-size: 14px;
  }
.h2-add{
    color:#1b1b1b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d6d6d6 ;
    border-radius: 8px; 
    padding: 6px 10px;
}