/* Estilos para toda la página */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items:center;
  background-color: #d3d3d3; /* Fondo gris claro para la página */
  height:100vh; /* Usa toda la altura de la pantalla */
  width:100%;
  box-sizing: border-box;
  gap: 4em;
}

/* Logo */
.logo-container {
  background-color: rgba(255, 255, 255, 0); /* Fondo gris oscuro para el logo */
}

.logo {
  width: 300px; /* Ajusta el tamaño del logo */
  height: auto;
}
