.button-filtros-conteiner{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
}
.filtro-button{
    width:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1b1b1b;
    font-size: 15px;
    background-color:#fefefe ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 1vh;
}
.filtro-button:hover {
    background-color: #b3b3b3; /* Color de hover */
  }

  @media (max-width: 1000px) {
    .filtros-conteiner {
        width: 91%; /* Ajusta el ancho a un porcentaje mayor en pantallas pequeñas */
    }
}